@import "fonts.css";

* {
    margin: 0;    
    padding: 0;
    font-family: 'Lato', sans-serif;
}
a {
    text-decoration: none;
}
.container {
    width: 1020px;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
}
header {
    position: fixed;
    top: 0px;
    z-index: 3;
    width: 100%;
}
.menu__wrapper {
    border-bottom: 6px solid #323746;
    background-color: #2d303a;
    display: flex;
    justify-content: space-between;
    color: #fff;
    text-transform: uppercase;
    padding: 25px 40px;
    /* position: absolute; */
    height: 95px;
    width: 1020px;
    top: 0px;
    box-sizing: border-box;
}
.menu__logo {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 25px;
    /* position: absolute; */
    width: 124px;
    height: 25px;
    left: 40px;
    top: 29px;
}
.menu__logo::after {
    content: "*";
    color: #f06c64;
    font-family: "Lato-Bold", "Helvetica", sans-serif;
    font-weight: 400;
}
/*
.menu__list {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}
.menu__list li {
    position: relative;
    display: inline-block;
    padding-left: 24px;
}
.menu__item + .menu__item:before {
    position: absolute;
    bottom: 2px;
    left: 7px;
    content: "\2022";
    font-size: 12px;
    color: #494e62;
}
.menu__item-link {
    line-height: 6px;
    color: #fff;
    font-family: "Lato-Bold", "Helvetica", sans-serif;
    font-weight: 400;
    text-align: left;
    text-decoration: none;
}
.menu__item-link:hover,
.menu__item-link-1:hover {
    color: #f06c64;
    cursor: pointer;
}*/
.menu {
    /* position: absolute; */
    display: flex;
    width: 371px;
    height: 14px;
    left: 609px;
    top: 42px;
    justify-content: space-between;
}

.menu__link {
    position: relative;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    text-align: justify;
    letter-spacing: -0.035em;
    color: #fff;
    text-decoration: none;
padding: 0 10px;
}

.menu__link:not(.menu__link_active):hover {
    cursor: pointer;
    color: #F06C64;
}

.menu__link_active {
    color: #F06C64;
}

/*------------SLIDER STYLES---------------*/
.slider__wrapper {
    background: #f06c64;
    height: 594px;
    border-bottom: 6px solid #ea676b;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slider_section {
    width: 100%;
    height: 600px;
    top: 95px;
    left: 0px;
    position: relative;
    overflow: hidden;
}
/* .slide {
    display: none;
    position: relative;
    margin: 0 auto;
    z-index: 0;
    animation: 0.3s ease-in-out;
} */
.slider__img-main {
    margin: 0px 14px;
}
.slider__wrapper > a:last-child {
    margin-right: 40px;
}
.slider__arrow:hover {
    filter: brightness(30%);
}
.slider .prev, .slider .next {
    position: absolute;
    top: 0;
    top: 50%;
    margin-top: -22px;
}
.slider .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.slider__arrow-right {
    border: none;
    width: 16px;
    height: 27px;
    cursor: pointer;
    background: transparent;   
    background-image: url(assets/images/arrow_right.png);
    margin-right: 40px;
}
.slider__arrow-left {
    background: transparent;
    background-image: url(assets/images/arrow_left.png);
    margin-left: 40px;
    border: none;
    width: 16px;
    height: 27px;
    cursor: grab;
}
/*------------SLIDER STYLES END---------------*/


/*------------SERVICES STYLES---------------*/
.services {
    /* position: absolute; */
    width: 100%;
    height: 500px;
    top: 705px;
}
.services__wrapper {
    height: 495px;
    background: #f2f2f2;
    padding: 62px 40px;
    box-sizing: border-box;
    color: #666d89;
}
.services__list-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 44px;
}
.services__title {
    font-weight: 900;
    font-size: 30px;
    font-family: Lato, sans-serif;
    color: #666d89;
    margin-bottom: 25px;
}
.services__subtitle {
    font-weight: 300;
    font-size: 18px;
    font-family: Lato, sans-serif;
    text-align: justify;
    color: #666d89;
    letter-spacing: 0.001rem;
    line-height: 1.3;
}
.services__column {
    width: 32%;
    margin-top: 10px;
}
.services__list:nth-child(2) {
    margin-top: 20px;
}
.services__list {
    height: 100px;
    overflow: hidden;
    box-sizing: border-box;
}
.services__icon {
    float: left;
}
.services__name {
    display: inline;
    padding-left: 18px;
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato-Bold", "Helvetica", sans-serif;
    font-weight: 900;
    text-align: left;
}
.services__description {
    margin: 9px 0px 0px 80px;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: -0.009rem;
    color: #767e9e;
    font-family: "Lato-Regular", "Helvetica", sans-serif;
    font-weight: 400;
    text-align: justify;
}    
/*------------SERVICES STYLES END---------------*/

/*-------PORTFOLIO--------*/
.portfolio {
	background-color: #303441;
    border-bottom: 6px solid #373b4a;
    color: #767e9e;
    margin-top: 5px;
    /* position: absolute; */
    width: 100%;
    height: 870px;
    top: 1195px;
}
.portfolio__title {
    font-weight: 900;
    font-size: 30px;
    font-family: Lato, sans-serif;
    color: #666d89;
    margin-bottom: 20px;
}
.portfolio__subtitle {
    font-weight: 300;
    font-size: 18px;
    font-family: Lato, sans-serif;
    text-align: justify;
    color: #666d89;
}
.portfolio__wrapper {
    height: 871px;    
    padding: 63px 40px;
    box-sizing: border-box;
}
.portfolio__links {
	margin: 10px 0;
	list-style: none;
}
.portfolio__links li {
    display: inline-block;
    font-size: 12px;
}
.portfolio__links li a,
.gallery-selector__button {
	border: 1px solid #767e9e;
	color: #767e9e;
	display: inline-block;
    height: 20px;
    padding: 0 6px;
    margin: 0 3px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s linear;
    font-size: 12px;
    background: transparent;
}
.portfolio__links li a:hover,
.gallery-selector__button:hover {
	color: #eb5055;
    border: 1px solid #eb5055;
    cursor: grab;
}
.portfolio__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    overflow: hidden;
}
.portfolio__items img {
    padding: 10px 5px;
}
.portfolio__image img:active {
	border: 5px solid #F06C64;
}
.portfolio__img_active {
    border: 5px solid #F06C64;
    margin: 0;
    padding: 0;
}

/* .portfolio__items .grid li {
	float: left;
	width: 50%;
}

.portfolio__items .img-wrap {
	position: relative;
	overflow: hidden;
}
.portfolio__items .overlay {
	background-color: #eb5055;
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 0;
}
.portfolio__items .overlay,
.portfolio__items .img-wrap a {
	display: block;
	transition: all 0.3s ease-in-out;
}
.portfolio__items .img-wrap a:hover {
	transform: scale(1.2);
}

.portfolio__items .img-wrap a:hover .overlay {
	opacity: 0.84;
}

.portfolio__items .overlay i {
	color: #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateY(-50%) translateX(-50%);
}

.portfolio__items figure img {
	width: 100%;
} */

/*------------PORTFOLIO STYLES END---------------*/

/*------------ABOUT US---------------*/
.about-us {
    /* position: absolute; */
    width: 100%;
    height: 733px;
    top: 2075px;
}
.about-us__wrapper {
    background-color: #f2f2f2;
    color: #767e9e;
    margin-top: -8px;
    height: 731px;    
    padding: 53px 40px;
    box-sizing: border-box;
}
.about-us__card figure{
    margin-bottom: 25px;
}
.about-us__heading {
    margin-bottom: 40px;
}
.about-us__subtitle {
    font-weight: 300;
    font-size: 18px;
    font-family: Lato, sans-serif;
    text-align: justify;
    color: #666d89;
    letter-spacing: 0.001rem;
    line-height: 1.9;
}
.about-us__row {
    display: flex;
    justify-content: space-between;
}
.about-us__card img {
    margin-bottom: 15px;
}
.about-us__card p {
    font-size: 11px;
    padding-top: 10px;
    line-height: 1.7;
}
.card2 {
    margin: 0 20px;
}
.employee_name {
    font-weight: 900;
    letter-spacing: -0.022rem;
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.social-media {
    list-style: none;
    padding: 0;
    margin: 0;
}
.smm_logo {
    height: 32px;
    width: 32px;
    content: "";
}
.smm_logo img:hover {
    border: solid 3px #eb5055;
    border-radius: 25px;
    box-sizing: border-box;
}
.social-media li {
    display: inline-block;
}
.social-media li a {
    display: inline-block;
    line-height: 32px;
    margin: 0 2px;
    width: 32px;
    height: 32px;
    transition: all 0.3s linear;
}
/*-----ABOUT US STYLES END---------------*/

/*-----GET A QUOTE-----*/
.get-a-quote {
	background-color: #eb5055;
    border-bottom: 6px solid #ea676b;
    margin-top: 3px;
    /* position: absolute; */
    width: 1020px;
    height: 654px;
    top: 2798px;
}
.quote__wrapper {
    height: 520px;
    padding: 63px 40px;
}
.quote__heading {
    font-size: 30px;
    margin-top: -5px;
    margin-bottom: 20px;
    font-weight: 900;
    font-family: Lato, sans-serif;
    color:  #f0d8d9;;
}
.quote__subtitle {
    line-height: 1.7;
    font-weight: 300;
    font-size: 18px;
    font-family: Lato, sans-serif;
    text-align: justify;
    color:  #f0d8d9;;
    margin-bottom: 42px;
}
.get-a-quote a,
.get-a-quote {
	color: #f0d8d9;	
}
.form__wrapper {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
.form_quote {
    width: 619px;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
}
.contact_info {
    width: 304px;
}
.form_input, .form_textarea {
    font-family: "Lato";
    line-height: 1.4rem;
    font-weight: 400;
    padding: 7px 14px 9px;
    border: none;
    margin-bottom: 16px;
    border-radius: 5px;
    color: #f0d8d9;
    background-color: #ca4549;
    box-sizing: border-box;
}
.form_textarea {
    padding: 10px;
    height: 202px;
}
.form_button {
    font-family: "Lato";
    font-size: 1.2rem;
    font-weight: 400;
    padding: 7px 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #f0d8d9;
	background-color: #ca4549;
}
.form_button:hover,
.form_input:hover, 
.form_textarea:hover {
    color: #f0d8d9;
    background-color: #2d303a;
    transition: all 0.5s ease-in-out;
}
.form_quote input[type="text"],
.form_quote ::placeholder {
    color: #f0d8d9;
	resize: none;
}
#popup {
    position: relative;
    height: 500px;
    width: 100%;
    top: -600px;
    background: rgba(250, 137, 123, 0.7);
    color: black;
    font-weight: 900;
}
#popup.hidden_message {
    display: none;
}
#message {
    position: absolute;
    top: 25%;
    left: 25%;
    border: 4px solid #ccabd8;
    background: #ccabd8;
    text-align: center;
    padding: 50px;
    box-shadow: -17px 22px 10px 0px rgba(19, 42, 216, 0.7);
}
#message:hover { 
    text-shadow: 0 0 100px whitesmoke,0 0 40px azure,0 0 8px; 
}
.contact_info-title {
    font-size: 1.2rem;
}
.contact_info-text {
    font-size: 12px;
    line-height: 1.9em;
    font-weight: 400;
    letter-spacing: -0.02em;
    margin-top: 5px;
    text-align: justify;
}
.contact_info ul {
	list-style: none;
	padding: 0;
	margin: 19px 0 0;
}
.contact_info ul li span {
	display: inline-block;
	margin-left: 8px;
} 
.contact_text {
    font-size: 12px;
    line-height: 1.5em;
    font-weight: 400;
    width: 300px;
    margin-left: 11px;
    text-align: justify;
}
.location_icon {
    background-image: url(assets/images/location.png);
    width: 7px;
    height: 11px;
    margin-left: 4px;
    display: inline-block;
}
.phone_icon {
    background-image: url(assets/images/phonexs.png);
    width: 11px;
    height: 11px;
    margin-left: 4px;
    display: inline-block;
}
.mail_icon {
    background-image: url(assets/images/mail.png);
    width: 13px;
    height: 8px;
    margin-left: 4px;
    display: inline-block;
}
/*-----GET A QUOTE STYLES END-----------*/

/*--------FOOTER-------------------*/
footer {
    /* position: absolute; */
    width: 1020px;
    height: 76px;
    top: 3452px;
}
.footer__wrapper {
	background-color: #303441;
	color: #666d89;
    padding: 24px 42px;
    display: flex;
    justify-content: space-between;
}
.copyright {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.01rem;
    margin-top: 8px;
}
footer a:hover {
	color: #eb5055;
}
.footer_smm {
	list-style: none;
	margin: 0;
	padding: 0;
}
.footer_smm li a {
	line-height: 32px;
	margin: 0 2px;
	width: 32px;
	height: 32px;
	text-align: center;
	border-radius: 32px;
	transition: all 0.3s linear;
}
.footer_smm li a:hover {
	border: 1px solid #eb5055;
	color: #eb5055;
}
/*-------------------------FOOTER STYLES END-------------------*/

/* ======---------------===MEDIA QUERIES=======-------------------======= */
@media only screen and (max-width: 768px) and (min-width: 375px) {
    .container {
        width: 100%;
        position: relative;
    }
    header {
        /* height: 65px;
        position: relative; */
    }
    .menu__logo {
      align-items: center;
      margin: 0 auto;
    }
    .main-menu {
        display: none;
    }
    .menu__wrapper {
        width: 100%;
    }
  

    .slider_section {
        width: 100%;
        height: auto;
    }
    .slider__wrapper {
      height: auto;
      margin-bottom: 40px;
    border: unset;
    }
    .slider, .item img {
        width: 100%;
        height: auto;
        /* padding: 10px 0; */
    }
    .slider .prev, .slider .next {
        /* top: 20%;
        margin-top: 52px; */
    }
    .slider__arrow-left {
        margin-left: 15px;
    }
    .slider__arrow-right {
        margin-right: 15px;
    }


    .services {
        height: auto;
    }
    .services__wrapper {
        width: 100%;
        height: auto;
        padding-bottom: 10px;
    }
    .services__heading {
        margin-bottom: 20px;
    }
    .services__list-wrapper {
        height: auto;
    }
    .services__column {
        width: 100%;
        margin: 0 10px;
        height: auto;
    }
    .col-2 {
        display: none;
    }

    .portfolio__wrapper {
        width: 100%;
        height: fit-content;
        padding: 40px;
    }
    .portfolio {
        height: fit-content;
    }
    .portfolio__items img,
    img.portfolio__img {
        width: 40%;
        display: flex;
        justify-content: space-between;
    }

    .about-us {
        height: auto;
    }
    .about-us__wrapper {
        width: 100%;
        height: auto;
        padding: 10px 30px;
    }
    .about-us__row {
        flex-flow: column;
    }
    .about-us__card {
        width: 80%;
        margin: 0 auto;
    }

    .quote__wrapper {
        padding: 32px;
        width: 100%;
        height: auto;
    }
    .row {
        padding: 0 10px;
        width: 80%;
        height: auto;
    }
    .form__wrapper {
        flex-direction: column;
    }
    .get-a-quote a, .get-a-quote {
        width: 100%;
        height: auto;
    }
    .form_quote {
        width: 80%;
        margin: 0 10px;
    }
    .form_button {
        width: -webkit-fill-available;
        margin-bottom: 15px;
    }
    .contact_info {
        width: 80%;
        padding: 20px 0;
        margin: 0 10px;
    }
    input {
      min-width: 97%;
    }
    footer {
        width: 100%;
    }
    .copyright {
      display: none;
    }
    .smm_logo {
        padding: 0 10px;
    }
    .footer_smm {
        align-items: center;
        align-content: center;
        margin: 0 auto;
    }
}
